@use 'var';
@use 'reset';
@use 'font_face';
@use 'form';
@use 'component';
@import 'var_scss.scss';
/**/
@tailwind base;
@tailwind components;
@tailwind utilities;
/**/
html.Loading {
  opacity: 0;
}
html,
body,
input,
select,
textarea {
  font-family:
    'SUIT Variable',
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}
body {
  position: relative;

  /* $PcMinWid 이상 화면*/
  @media screen and (min-width: $PcMinWid) {
    min-width: var(--body-min-wid);
  }

  &.PreventScroll {
    position: fixed;
    overflow-y: scroll;
  }
}
#Page {
  min-height: var(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > main {
    flex-grow: 1;
  }
}
/**/
.Sticky {
  z-index: 99;
  position: sticky;
  &.Top {
    top: 0;
  }
  &.Bottom {
    bottom: 0;
  }
}
/**/
img[src=''] {
  display: none;
}
/**/
.H1 {
  font-weight: 900;
  font-size: 2em;
}
.H2 {
  font-weight: 800;
  font-size: 1.5em;
}
.H3 {
  font-weight: 700;
  font-size: 1.17em;
}
.H4 {
  font-weight: 600;
  font-size: 1em;
}
.H5 {
  font-weight: 600;
  font-size: 0.83em;
}
.H6 {
  font-weight: 600;
  font-size: 0.67em;
}
.LinkBtn {
  color: #4168f6;
  text-decoration: underline;
}
.LinkBtn:hover {
  text-decoration: underline;
}
/**/
.TopLeft {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/**/
.TopBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/**/
.TopRight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
/**/
.BottomLeft {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
/**/
.BottomBetween {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/**/
.BottomRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/**/
.CenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CenterLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.CenterRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/**/
.HBox {
  padding-left: var(--contents-side-padding);
  padding-right: var(--contents-side-padding);

  > .Inner {
    max-width: var(--contents-max-wid);
    margin-left: auto;
    margin-right: auto;
  }
}
/******************************************
	
*******************************************/
/**/
.LayerPopup {
  z-index: 111;
  position: fixed;
  top: 50%;
  //left: 50%;
  left: -100vw;
  transform: translate(-50%, -50%);
  transition: left 500ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;
  max-height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &.On {
    left: 50%;
  }
  &.Bottom {
    top: auto;
    bottom: -100%;
    transform: translate(-50%, 0%);
    transition: bottom 500ms cubic-bezier(0.33, 1, 0.68, 1);
    &.On {
      bottom: 0;
    }
  }
}
.HideScroll {
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.SampleList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  > * {
    width: 100%;
  }
}
/**/
.Grayscale {
  filter: grayscale(1) !important;
}
